<!--The content below is only a placeholder and can be replaced.-->
<ng4-loading-spinner> </ng4-loading-spinner>
<nav class="mainmenu-area affix-top" data-spy="affix" data-offset-top="200">
  <div class="container-fluid">
      <div class="navbar-header">          
          <h3><a class="navbar-brand" routerLink="/home">ABC Bank</a></h3>
      </div>
      <div id="primary_menu">         
          <div class="right-button">
              <button class="button" routerLink="/submitForm" routerLinkActive = "active">Request New Loan</button>
          </div>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>